:root {
  --roboto: "Roboto Condensed", sans-serif;
  --arial: arial;
}

/* Links that need red underline  */

a {
  color: black;
}

a:hover {
  text-decoration-color: red;
}

a:visited {
  color: black;
}

/* Links that need hover red colors  */

.red-hover a {
  color: black;
  text-decoration: none;
}

.magazine-covers h4 a {
  color: red;
}

.red-hover a:hover {
  color: red;
}

/* .red-hover a:visited {
  color: black;
} */

/* Set all the images to container width  */

img {
  width: 100%;
}

/* Navbar */

.nav-container {
  background-color: #f72210;
}

.weather {
  color: white;
}

.weather img {
  width: 55%;
}

.left-nav img {
  width: 70%;
}

.big-logo img {
  width: 120%;
}

.fa-user {
  color: lightgray;
  background-color: red;
}

.nav-login {
  color: white;
  font-weight: 700;
}

.right-nav img {
  width: 45%;
  height: auto;
  border-radius: 100px;
}

.right-nav i {
  font-size: 4vw;
}

.fa-align-justify {
  color: lightgray;
}

/* Second Nav-bar  */

.second-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.second-nav li {
  /* padding-left: 5px; */
  /* margin-right: 5px; */
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  font-size: 1rem;
}

.second-nav li a {
  border-right: 1px solid lightgray;
  padding-right: 7px;
  padding-left: 7px;
  color: black;
  font-weight: 700;
}

.search-bar {
  width: 60px;
  /* padding-bottom: 50px; */
}

.search-bar input {
  width: 69px;
  border: none;
  /* padding-bottom: 50px; */
}

/* First Half */

.first-half h3,
.first-half h3 * {
  color: gray;
  font-size: small;
  font-family: var(--roboto);
}

.first-half h2 {
  line-height: 0.5em;
}

.first-half h2 a {
  font-family: var(--roboto);
  font-size: 0.7em;
  font-weight: 700;
}

.first-half p {
  font-family: var(--arial);
  line-height: 1em;
}

/* .heroes-pandemic a{
  color: gray;
} */

/* The Debate  */

.vs-top {
  border-top: 4px solid red;
  padding-top: 10px;
}

.vs-top img,
.vs-bottom img {
  /* width: 70%; */
  height: 60px;
  width: 60px;
}

.vs-top img {
  margin-right: 12px;
}

.vs-bottom {
  border-bottom: 4px solid blue;
  padding-bottom: 10px;
}

.opinion-content img {
  height: 60px;
  width: 60px;
  margin-right: 12px;
}

/* More Stories  */

.more-stories-content {
  border-top: 1px solid lightgray;
  padding-top: 20px;
}

.more-stories img {
  height: 95px;
  width: 95px;
  margin-right: 1em;
}

/* Start Day Mail Input  */

.start-day-container {
  width: 300px;
  height: 160px;
  margin: 0 auto;
  background-color: #f4f5f6;
  border: 1px solid lightgray;
}

.start-day-container img {
  height: 30px;
  width: 30px;
  color: white;
  background-color: red;
}

.start-day-container input {
  width: 100%;
}

.start-day-container button {
  width: 100%;
  background-color: red;
  color: white;
}

/* In The Magazine  */

.magazine-title-container img {
  height: 30px;
  width: 30px;
  color: white;
  background-color: red;
}

.all-features-text:hover {
  background-color: lightgray;
}

.all-features a:hover {
  color: black;
}

.magazine-covers h4 {
  font-size: medium;
}

.magazine-covers h4 span {
  color: white;
  background-color: red;
}

.magazine-covers p {
  line-height: 1;
  font-size: 0.9rem;
}

/* Editors Pick  */

.editors-pick {
  border-bottom: 1px solid lightgray;
}

.third-col img {
  width: 95px;
  height: 64px;
}

.third-col h5 {
  font-size: medium;
}

/* Regions  */

.us-container .col-12 a {
  color: red;
}

.us-container h5 a {
  font-weight: 700;
}

.us-container h5 a {
  font-weight: 700;
}

/* Footer  */

.footer-container a {
  color: gray;
}

.footer-container a:hover {
  color: black;
}

.left-items a {
  color: red;
  font-weight: 700;
  font-size: 1.3em;
}

.left-items a:hover {
  color: red;
}

.footer-container ul {
  padding: 0;
}

.left-items p {
  font-size: small;
}

.right-items i {
  font-size: 1.5em;
  color: gray;
}

.right-items i:hover {
  color: darkblue;
}

.footer-editions-container li,
.footer-sections-container li {
  list-style: none;
  /* font-size: x-large; */
  display: inline;
  border-right: 1px solid lightgray;
  padding-left: 7px;
  padding-right: 7px;
}

.footer-sections-container li:first-child,
.footer-sections-container li:nth-child(11) {
  padding-left: 0;
}

.footer-editions-container li:last-child,
.footer-sections-container li:last-child {
  border-right: none;
}

/* Medium Size Selectors  */

.stories-md img {
  width: 105px;
  height: 105px;
  margin-right: 1em;
}
